/* Importaciones */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ruluko&display=swap');
/*   font-family: "Ruluko", sans-serif; */
@import url('https://fonts.cdnfonts.com/css/rubik-one');
/* font-family: 'Rubik One', sans-serif;*/

/* Variables - Pseudoclase */
:root{
    --tipografiaTexto: "Ruluko", sans-serif;
    --tipografiaTitulos: 'Rubik One', sans-serif;
    --colorFondo:#E1E0E0;
    --colorNav:#BED7DC;
    --colorTitulo:#92C7CF;
    --colorTexto:#121212;
    --colorIconos:#A9A9A9;
}

body{
    background-color: var(--colorFondo);
    font-family: var(--tipografiaTexto);
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100vw;
}

*{
    /* Ajuste de margen y padding */
    margin: 0;
    padding: 0;
}

/* HEADER */

header{
    width: 100vw;
    height: 100px;
    /* border: 20px solid red; */
    margin-bottom: 20px;
}

.menuNav{
    background-color: var(--colorNav);
    width: 100%;
    height: 100px;
    /* hacer que se sobreponga y se fije */
    position: fixed;
    /* esta es la propiedad que lo hace */
    z-index: 100;
    top:0;
    left: 0;
}

.listaNav{
    /* Poner uno al lado del otro */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100%;
    width: 100vw;
    list-style: none;
    
}

.listaNav a{
    color: white;
    text-decoration: none;
    font-size: 18px;

}

.listaNav a:hover{
    color: var(--colorIconos);

}


/* MAIN */
main{
    /* border: 2px solid red; */
    width: 100%;
    height: auto;
    /* hacer que cada seccion quede una debajo de
    la otra */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h1, h2{
    font-family: var(--tipografiaTitulos);
    color: var(--colorTitulo);
    text-transform: uppercase;
}

/* Acerca de mi */
.Acerca{
    /* border: 2px solid blue; */
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    gap:40px
}

.Acerca img{
    width: 300px;
    height: 400px;

}

.infoAcerca{
    margin: 40px;
    width: 50%;
    height: 200px;

}

.infoAcerca p{
    margin-top:30px ;
    width: 382px ;
    color: var(--colorTexto);
}

.infoAcerca h1{
    font-size: 35px;
}
/* infoAcademica */
.infoAcademica{
    border: 10px solid white;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 40px;
}

.infoEducon{
    width: 50%;
    height: 100%;
    margin: 50px;
}

.infoTitulos{
    background-color: var(--colorNav);
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
}

.infoTitulos h2{
    color: white;
}

.infoEducon li{
    list-style: none;
    color: var(--colorTexto);
    margin-left: 10px;
}

.infoEducon ul{
    color: var(--colorTitulo);
    margin-left: 30px;
}
/* Habilidades */
.habilidades{
    /* border: 2px solid green; */
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 10px solid white;
    padding: 20px;
}

.habilidadesImg{
    width: 100%;
    /* organizar en filas y columnas */
    display: grid;
    /* Para las filas */
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    /* border: 3px solid blue; */
    
}

.habilidadesImg div{
    /* border: 1px solid pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;


}

.habilidadesImg i{
    color: var(--colorIconos);
    font-size: 80px;
    /* Animacion */
    transition: all 500ms ease-in-out;
}

.habilidadesImg h3{
    color: var(--colorTitulo);
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.habilidades h2{
    font-size: 50px;
}

/* Proyectos */
.proyectos{
    border: 10px solid white;
    width: 80%;
    margin-top: 40px;
    color: #121212;
}

.proyectos h2{
    text-align: center;
    padding: 10px;
}

.proyectos img{
    opacity: 0.5;
}

.proyectos a{
    text-decoration: none;
}

/* Servicios */
.servicios{
    border: 10px solid white;
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
}

.servicios article{
    display: grid;
    /* Para las filas */
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 60px;
}

.servicios div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#serviciosTitulos{
    text-align: center;
    font-weight:lighter;
    text-transform: initial;
}

.servicios h3{
    color: var(--colorTexto);
}

#habilidadesTituloprincipal{
    margin-top: 10px;
    font-size: 50px;
}

/* ENLACES */
.enlaces{
    /* hacer que se sobreponga y se fije */
    position: fixed;
    /* esta es la propiedad que lo hace */
    z-index: 100;
    bottom: 0;
    right: 0;
}

.cv{
    font-size: 60px;
    padding:20px;
    color: white;

    /* Creacion de animacion */
    animation-name: palpitar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: all 500ms ease-in-out;

}

.cv i:hover{
    color: #12121260;
}

/* Keyframe */
@keyframes palpitar{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
/* FOOTER */

footer{
    background-color: #BED7DC;
    width: 100%;
    height: 20%;
    padding-top: 30px;
}

.footerContenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
footer img{
    /* border: 1px solid black; */
    padding: 0;
    width: 200px;
    height: 200px;
}

.redesSociales{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    gap:10px;
}
#redes{
    display: flex;
    gap: 5px;
}

#redes a, #redes h3, #redes i{
    color: white;

}

footer h2{
    color: white;

}

/* Estilos para celular */
@media screen and (max-width:490px ){
    /* HEADER */
    .listaNav{
        display: flex;
        justify-content:space-between;
    }

    /* MAIN */
    /* ACERCA */

    .Acerca{
        margin-left: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
        /* border: 2px solid black; */
    }

    .infoAcerca{
        /* border: 2px solid blue; */
        width: 80%;
 
    }
    .infoAcerca h1{
        font-size: 20px;
        width: 100%;
        text-align: center;
        /* border: 2px solid red; */

    }

    .infoAcerca p{
        width: 100%;
        text-align: center;
        /* border: 2px solid red; */

    }

    /* INFO ACADEMICA */

    .infoAcademica{
        width: 100%;
        margin-left: 150px;
        display: flex;
        flex-direction: column;
    }

    .infoEducon{
        /* border: 2px solid red; */
        width: 80%;
    }
    .infoTitulo{
        width: 100%;
    }
    /* HABILIDADES */

    .habilidades{
        width: 100%;
        margin-left: 100px;
    }
    .habilidadesImg{
        display: flex;
        
        flex-direction: column;
        
    }

    .proyectos{
        width: 100%;
        margin-left: 100px;
    }

    .servicios{
        width: 100%;
        margin-left: 150px;
    }

    .contenedorServ{
        display: flex;
        flex-direction: column;
    }

    /* footer */
    footer{
        /* border: 2px solid red; */
        width: 100vw;
    }
}